<div id="advantages">
    <div class="container">
        <div class="col-md-12">
            <div class="box text-center">
                <h3 class="text-uppercase">About Board Game Monster</h3>
                <p>Board game monster is run by Board Game enthusiasts for the benefit of anybody interested in board games.
                    If you have any questions, just <a href="{{ path('sylius_contact') }}">drop us a line</a>.
                    We aim to be the world's <strong>Friendliest Online Game Store</strong>!</p>
                <div class="same-height-row row">
                    <div class="col-sm-3">
                        <div class="box same-height clickable no-border text-center-xs text-center-sm">
                            <div class="icon"><i class="fa fa-heart-o"></i>
                            </div>
                            <h4><a href="#">Satisfied customers</a></h4>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box same-height clickable no-border text-center-xs text-center-sm">
                            <div class="icon"><i class="fa fa-tags"></i>
                            </div>
                            <h4><a href="#">Great prices</a></h4>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box same-height clickable no-border text-center-xs text-center-sm">
                            <div class="icon"><i class="fa fa-send-o"></i>
                            </div>
                            <h4><a href="#">Fast, FREE shipping</a></h4>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box same-height clickable no-border text-center-xs text-center-sm">
                            <div class="icon"><i class="fa fa-refresh"></i>
                            </div>
                            <h4><a href="#">Free returns for 3 months</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
