<div id="slider" class="owl-carousel owl-theme">
    {% for item in carouselItems %}
        <div class="item">
            <a href="{{ item.url }}">
                <img src="{{ item.path }}" alt="{{ item.tooltip }}" class="img-responsive">
            </a>
        </div>
    {% endfor %}
</div>
