 <div id="slider" class="owl-carousel owl-theme">
    <div class="item">
        <a href="#">
            <img src="http://placehold.it/437x150" alt="" class="img-responsive">
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="http://placehold.it/437x150" alt="" class="img-responsive">
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="http://placehold.it/437x150/990000" alt="" class="img-responsive">
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="http://placehold.it/437x150" alt="" class="img-responsive">
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="//placehold.it/437x150/990000" alt="" class="img-responsive">
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="http://placehold.it/437x150" alt="" class="img-responsive">
        </a>
    </div>
</div>
