<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="grid-item gi-list double-width">
        <div class="text-instead-of-image same-height-always">
            <h3 class="hidden-md hidden-sm">Other New Releases</h3>
            <ul>
                <li><a>Dice Masters Faerun Under Siege St<span class="hidden-md">arter</span><span class="visible-md-inline">&hellip;</span></a></li>
                <li><a>Pokemon TCG : XY 2016 Spring Tin</a></li>
                <li><a>Its Your Fault: Smash Up Expansion</a></li>
                <li><a>Pretense</a></li>
                <li><a>Encampment Tile Set : B-Sieged</a></li>
                <li><a>Sculpted Mulfin Set : B-Sieged</a></li>
            </ul>
        </div>
        <!-- /.image -->
        <div class="text">
            <h3><a href="#">View all New Releases</a></h3>
            <p class="price"><a href="#"><i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
        <!-- /.text -->
    </div>
</div>