<div class="col-md-2 col-sm-3 col-xs-6">
    <div class="grid-item gi-list">
        <div class="text-instead-of-image same-height-always">
            <ul>
                <li><a href="#">Dice Masters Faerun Under&hellip;</a></li>
                <li><a href="#">Pokemon TCG : XY 2016 Spr&hellip;</a></li>
                <li><a href="#">Its Your Fault: Smash Up</a></li>
            </ul>
        </div>
        <!-- /.image -->
        <div class="text">
            <h3><a href="#">View all Best Sellers</a></h3>
            <p class="price"><a href="#"><i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
        <!-- /.text -->
    </div>
    <!-- /.product -->
</div>