<div class="col-md-2 col-sm-3 col-xs-6">
    <div class="grid-item gi-product">
        <div class="image same-height-always">
            <a href="#">
                <img src="img/product4.jpg" alt="" class="img-responsive image1">
            </a>
            <div class="quick-view-button">
                <a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a>
            </div>
        </div>
        <!-- /.image -->
        <div class="text">
            <h3><a href="#">White Blouse Versace</a></h3>
            <p class="price">£143.00</p>
        </div>
        <!-- /.text -->

        <div class="ribbon hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
        </div>

        <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->
    </div>
    <!-- /.product -->
</div>

<div class="col-md-2 col-sm-3 col-xs-6">
    <div class="grid-item gi-product">
        <div class="image same-height-always">
            <a href="#">
                <img src="img/product2.jpg" alt="" class="img-responsive image1">
            </a>
            <div class="quick-view-button">
                <a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a>
            </div>
        </div>
        <!-- /.image -->
        <div class="text">
            <h3><a href="#">White Blouse Versace</a></h3>
            <p class="price">£143.00</p>
        </div>
        <!-- /.text -->

        <div class="ribbon hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->
    </div>
    <!-- /.product -->
</div>

<div class="col-md-2 col-sm-3 col-xs-6">
    <div class="grid-item gi-product">
        <div class="image same-height-always">
            <a href="#">
                <img src="img/product1.jpg" alt="" class="img-responsive image1">
            </a>
            <div class="quick-view-button">
                <a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a>
            </div>
        </div>
        <!-- /.image -->
        <div class="text">
            <h3><a href="#">Fur coat with very but very very long name</a></h3>
            <p class="price">£143.00</p>
        </div>
        <!-- /.text -->

        <div class="ribbon hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
        </div>
    </div>
    <!-- /.product -->
</div>

<div class="col-md-2 col-sm-3 col-xs-6">
    <div class="grid-item gi-product">
        <div class="image same-height-always">
            <a href="#">
                <img src="http://placehold.it/600x600" alt="" class="img-responsive image1">
            </a>
            <div class="quick-view-button">
                <a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a>
            </div>
        </div>
        <!-- /.image -->
        <div class="text">
            <h3><a href="#">White Blouse Armani</a></h3>
            <p class="price">£143.00</p>
        </div>
        <!-- /.text -->

        <div class="ribbon hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
        </div>

        <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->
    </div>
    <!-- /.product -->
</div>

<div class="col-md-2 col-sm-3 col-xs-6">
    <div class="grid-item gi-product">
        <div class="image same-height-always">
            <a href="#">
                <img src="http://placehold.it/600x200" alt="" class="img-responsive image1">
            </a>
            <div class="quick-view-button">
                <a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a>
            </div>
        </div>
        <!-- /.image -->
        <div class="text">
            <h3><a href="#">Black Blouse Versace</a></h3>
            <p class="price">£143.00</p>
        </div>
        <!-- /.text -->

        <div class="ribbon hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
        </div>
    </div>
    <!-- /.product -->
</div>