{% extends '@SyliusWeb/Frontend/layout.html.twig' %}

{% block topbar %}
    <ul class="breadcrumb">
        <li><a href={{ path('sylius_homepage') }}>Home</a></li>
        <li><a href={{ path('app_shop_product_index') }}>Products</a></li>
    </ul>
{% endblock %}

{% block content %}
    {{ sylius_grid_render(products, '@SyliusWeb/Frontend/Product/grid.html.twig') }}
{% endblock %}
