<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Category</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked category-menu">
            <li>
                <a>T-Shirts</a>
                <ul>
                    <li><a>SuperTees</a></li>
                </ul>
            </li>
            <li>
                <a>Stickers</a>
                <ul>
                    <li><a>Stickypicky</a></li>
                </ul>
            </li>
            <li>
                <a>Mugs</a>
                <ul>
                    <li><a>Mugland</a></li>
                </ul>
            </li>
            <li>
                <a>Books</a>
                <ul>
                    <li><a>Bookmania</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Brand</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked category-menu">
            <li><a>SuperTees</a></li>
            <li><a>Stickypicky</a></li>
            <li><a>Mugland</a></li>
            <li><a>Bookmania</a></li>
        </ul>
    </div>
</div>
