<div class="clearfix collapse" id="search" style="height: auto;">
    <form action="/search/" class="navbar-form" role="search" method="GET">
        <input type="hidden" name="search_param" value="all" id="search_param">
        <div class="input-group">
            <input type="text" class="form-control" id="search" name="q" placeholder="Search">
            <span class="input-group-btn">
                <button id="search-button" type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>
