{% macro shipment_state_label(state) %}

    {% if state == 'cancelled' %}
        {% set class = 'danger' %}
    {% elseif state == 'checkout' %}
        {% set class = 'warning' %}
    {% elseif state == 'ready' or state == 'returned' or state == 'shipped' %}
        {% set class = 'success' %}
    {% else %}
        {% set class = 'info' %}
    {% endif %}

    <span class="label label-{{ class }} label-state">{{ state|trans|humanize }}</span>
{% endmacro %}

{% macro pagination(paginator) %}
    {% if paginator.haveToPaginate() %}
        {{ pagerfanta(paginator, 'twitter_bootstrap3_translated') }}
    {% endif %}
{% endmacro %}
