<div class="same-height-row row grid-items gi-categories">
    {% for categoryGridItem in categoryGridItems %}
        {{ include('@SyliusWeb/Frontend/Category/_categoryGridItem.html.twig') }}
        {% if 3 == loop.index %}
            <div class="col-md-3 col-sm-4">
                <div class="grid-item gi-list">
                    <div class="text-instead-of-image same-height">
                        <h3>Other categories</h3>
                        <ul>
                            <li><a>Dice Masters Faerun Und<span class="hidden-sm hidden-md">er Sie</span><span class="hidden-sm hidden-md hidden-lg">ge Starter</span><span class="visible-sm-inline visible-md-inline visible-lg-inline">&hellip;</span></a></li>
                            <li><a>Pokemon TCG : XY 2016 <span class="hidden-sm hidden-md">Spring</span><span class="hidden-sm hidden-md hidden-lg"> Tin</span><span class="visible-sm-inline visible-md-inline visible-lg-inline">&hellip;</span></a></li>
                            <li><a>Its Your Fault: Smash <span class="hidden-sm hidden-md">Up Exp</span><span class="hidden-sm hidden-md hidden-lg">ansion</span><span class="visible-sm-inline visible-md-inline visible-lg-inline">&hellip;</span></a></li>
                            <li><a>Pretense</a></li>
                            <li><a>Encampment Tile Set : <span class="hidden-sm hidden-md">B-Sie</span><span class="hidden-sm hidden-md hidden-lg">ged</span><span class="visible-sm-inline visible-md-inline visible-lg-inline">&hellip;</span></a></li>
                            <li><a>Sculpted Mulfin Set : <span class="hidden-sm hidden-md">B-Sie</span><span class="hidden-sm hidden-md hidden-lg">ged</span><span class="visible-sm-inline visible-md-inline visible-lg-inline">&hellip;</span></a></li>
                            <li><a>Crisis Expansion 3: DC <span class="hidden-sm hidden-md">Deck </span><span class="hidden-sm hidden-md hidden-lg">Building Game</span><span class="visible-sm-inline visible-md-inline visible-lg-inline">&hellip;</span></a></li>
                            <li><a>Hardwired: Draft Starter</a></li>
                            <li class="hidden-sm hidden-md"><a>Hardwired: Corporation Draft<span class="hidden-lg"> Deck</span><span class="visible-lg-inline">&hellip;</span></a></li>
                            <li class="hidden-sm hidden-md"><a>Skull</a></li>
                            <li class="hidden-sm hidden-md"><a>King of Tokyo</a></li>
                        </ul>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="#">View all Categories</a></h3>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        {% endif %}
    {% endfor %}
</div>
